<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974813465583-albn62lq9c284hbuipe0mjhac334q3pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974813465583-albn62lq9c284hbuipe0mjhac334q3pi</string>
	<key>API_KEY</key>
	<string>AIzaSyAGWG0dRm7L_5DThAIPP9qTAMH65ZUmKKU</string>
	<key>GCM_SENDER_ID</key>
	<string>974813465583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentsclassic.app</string>
	<key>PROJECT_ID</key>
	<string>studentsclassic</string>
	<key>STORAGE_BUCKET</key>
	<string>studentsclassic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974813465583:ios:3ea2d99cd98725b964841a</string>
</dict>
</plist>